.c-article {

    &__inner {
        display: block;
    }

    &__thumbs {
        width: 480px;
        height: 300px;

        @include mq('sp') {
            width: 100%;
            height: 240px;
        }
        img {
            width: 100%;
            height: auto;
            max-height: 300px;
            object-fit: cover;
            @include mq('sp') {
                width: 100%;
                height: 100%;
            }
        }
    }

    &__lead {
        background-color: #666B79;
        color: var(--color-white);
        // width: 310px;
        // height: 415px;
        padding: 0 rem(24);

        @include mq('sp') {
            width: 100%;
            height: auto;
        }
    }
    &__title {
        font-size: rem(16);
        line-height: 28px;
        padding-top: rem(32);
        text-align: left;

        @include mq('sp') {
            padding-top: rem(24);
        }
    }
    &__category {
        font-size: rem(14);
        padding-top: rem(16);

        @include mq('sp') {
            padding-top: rem(22);
        }
    }
    &__tag {
        display: flex;
        padding-top: rem(24);
        padding-bottom: rem(24);
        font-size: rem(14);
        @include mq('sp') {
            padding-top: rem(8);
        }

        &-list {
            padding-right: rem(16);
        }
    }
    &__date {
        font-size: rem(14);
        font-weight: bold;
        padding-top: rem(16);
        padding-right: rem(16);
        @include mq('sp') {
            padding-top: rem(22);
            padding-bottom: rem(22);
        }
    }

    &__flex {
        display: flex;
    }
}