.c-heading {
  padding-bottom: rem(60);
  @include mq('sp') {
    padding-bottom: rem(42);
  }
  &__title {
    font-size: rem(32);
    font-weight: bold;
    letter-spacing: 0.005em;
  }
  &__en {
    font-weight: 600;
    letter-spacing: 0.005em;
  }

  &.-lower {
    position: relative;
    padding-top: 15px;

    &:before {
      position: absolute;
      content: '';
      width: 30px;
      height: 4px;
      background-color: #338BD6;
      top: 0px;
      left: 0;
    }
  }

  &__sidebar {
    text-align: center;
    padding-bottom: rem(30);
    &-title {
      font-size: rem(20);
    }
  }
}