.p-about {

    &__lead {
        padding-top: 2.5rem;
    }
    &__mvWrap {
        width: 100%;
        position: relative;

        @include mq('sp') {
            display: flex;
            flex-wrap: wrap;
        }

        &-container {
            position: absolute;
            top: 0;
            width: 1200px;
            left: 50%;
            transform: translateX(-50%);

            @include mq('tab') {
                width: 95%;
            }

            @include mq('sp') {
                width: 95%;
                margin: 0 auto;
                position: relative;
                left: 0;
                transform: none;
                padding-bottom: rem(24);
            }
        }

        &-body {
            padding-top: rem(60);
            max-width: 470px;

            @include mq('tab') {
                padding-top: 0;
                max-width: 40%;
            }
            @include mq('sp') {
                max-width: 100%;
            }
        }

    }

    &__lead {
        font-size: rem(22);
        font-weight: bold;
    }
    &__text {
        font-size: rem(16);
        padding-top: rem(50);
        line-height: rem(38);
    }

    &__mv {
        width: 55%;
        max-width: 1100px;
        margin-left: auto;
        position: relative;

        img {
            object-fit: contain;
            height: 1260px;

            @include mq('sp') {
                height: auto;
            }
        }

        @include mq('sp') {
            width: 95%;
            margin: 0 auto;
            order: 1;
        }
    }

    &__bottomWrap {
        width: 100%;
        position: relative;
        min-height: 860px;

        @include mq('sp') {
            display: flex;
            flex-wrap: wrap;
        }

        &-mv {
            margin-right: auto;
            width: 50%;
            max-width: 1100px;
            position: relative;
            top: -50px;

            // @include mq('tab') {
            //     top: 250px;
            // }
            @include mq('sp') {
                top: 0;
                width: 95%;
                margin: 0 auto;
                position: relative;
                left: 0;
                transform: none;
                padding-bottom: rem(24);
                order: 1;
            }
        }

        &-container {
            position: absolute;
            top: 30%;
            // width: 1200px;
            left: 50%;
            transform: translateY(-50%);

            // @include mq('tab') {
            //     width: 95%;
            // }

            @include mq('sp') {
                position: relative;
                top: 0;
                left: 0;
                transform: none;
            }

            &-body {
                position: relative;
                // width: 40%;
                max-width: 550px;
                margin-left: 5%;

                @include mq('tab') {
                    margin-left: 2%;
                    width: 95%;
                    padding-top: rem(60);
                    padding-bottom: rem(24);
                }

                @include mq('sp') {
                    width: 100%;

                }
            }

        }
    }
}