.p-header {
    &__icons {
        padding-top: 20px;

        @include mq('sp') {
            display: none;
        }

        &-sns {
            display: flex;
            justify-content: flex-end;

            li {
                padding-right: 56px;

                &:last-child {
                    padding-right: 0;
                }

                &:hover {
                    opacity: 0.8;
                }
            }
            li.note {
                position: relative;
                top: 2px;
            }
        }

        &-search {
            position: relative;
            padding-left: 56px;

            &:before {
                content: '';
                position: absolute;
                height: 27px;
                width: 1px;
                background-color: #A1A3AC;
                left: 0;
                top: 2px;
            }
            li {
                padding-right: 0;

                span {
                    background-image: url(../img/search.svg);
                    background-size: contain;
                    width: 33px;
                    height: 30px;
                    display: inline-block;

                    &._show {
                        background-image: url(../img/close.svg);
                    }
                }
            }
        }
    }

    &__lower {
        display: flex;
        justify-content: space-between;
        padding-top: 10px;

        @include mq('tab') {
            width: 95%;
            margin: 0 auto;
        }

        @include mq('sp') {
            width: 93%;
            margin: 0 auto;
            padding-top: 15px;
        }
    }

    &__categoryList {
        display: flex;
        justify-content: space-between;

        @include mq('sp') {
            display: none;
        }

        &-link {
            position: relative;
            &:first-of-type {
                margin-right: 55px;
            }
            &:nth-of-type(2) {
                margin-left: 55px;

                &:before {
                    content: '';
                    position: absolute;
                    height: 27px;
                    width: 1px;
                    background-color: #A1A3AC;
                    left: -56px;
                    top: 2px;
                }
            }
            &:hover {
                text-decoration: underline;
                text-underline-offset: 0.5em;
                opacity: 0.8;
                cursor: pointer;
            }
        }
    }

    &__logo {
        @include mq('sp') {
            width: 80px;
        }
    }

    &__humbergerMenu {
        display: none;

        @include mq('sp') {
            display: block;
        }

        & a {
            padding-right: 20px;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                width: 1px;
                height: 20px;
                top: -5px;
                right: 0;
                background-color: #A1A3AC;
            }
        }
    }

    &__humberger {
        text-align: center;
        display: block;
        margin: 3em auto 0;
        width: 22px;
        height: 22px;
        transition: 0.3s;
        span {
            display: block;
            margin-bottom: 0.375em;
            width: 22px;
            height: 2px;
            background-color: #000000;
            transition: 0.3s;
            opacity: 1;
            position: relative;
        }

        &.is-open {
            span:nth-child(1) {
                opacity: 0;
            }
            span:nth-child(2) {
                transform: rotate(-45deg);
                top: 3px;
                width: 23px;
            }
            span:nth-child(3) {
                transform: rotate(45deg);
                top: -6px;
                width: 23px;
            }
        }

        @include mq('sp') {
            margin: 0 0 0 1em;
            display: inline-block;
        }
    }

    &__search {
        background-color: rgba(255,255,255,0.9);
        height: 70px;
        z-index: 10;
        transition: 0.3s;
        position: absolute;
        opacity: 0;
        visibility: hidden;
        width: 100%;
        top: 120px;
        left: 0;

        @include mq('sp') {
            top: 52px;
        }

        &-inner {
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: center;
        }

        &-input {
            font-size: 20px;
            line-height: 40px;
            height: 40px;
            background-color: #ffffff;
            padding: 0 15px;
            width: 530px;
            vertical-align: middle;

            @include mq('sp') {
                width: 80%;
            }
        }

        &-label {
            display: inline-block;
            cursor: pointer;
            width: 38px;
            height: 40px;
            background-image: url(../img/search.svg);
            background-position: left center;
            background-repeat: no-repeat;
            background-size: contain;
            margin-left: 22px;
            vertical-align: middle;
            transition: opacity 0.2s ease-in-out;

            @include mq('sp') {
                margin-left: 2%;
                font-size: 16px;
            }

            & input {
                opacity: 0;
            }
        }

    }

}

.p-header__search._show {
    opacity: 1;
    visibility: visible;
}

.p-header__humbergerMenu-search span {
    background-image: url(../img/search.svg);
    background-size: contain;
    top: 5px;
    width: 22px;
    height: 30px;
    display: inline-block;
    position: relative;
    top: 5px;

    &._show {
        background-image: url(../img/close.svg);
    }
}